body {
	background-color: rebeccapurple;
	/* Reference: https://medium.com/@valgaze/the-hidden-purple-memorial-in-your-web-browser-7d84813bb416
	Hexadecimal: #663399. Tribute to CSS Legend Eric Meyer */

}

h1 {
	color: red;
}

